
nav {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999999;
	position: sticky;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

nav ul li {
	cursor: pointer;
	margin: 0 .25rem;
}

.nav--container {
	display: flex;
	position: relative;
}

.component--holder {
    top: 4rem;
    cursor: pointer;
    padding: 1rem;
    position: absolute;
	margin-left: -2rem;
    border-radius: .3rem;
    /*transform: translateX(-22.5%);*/
	border: 1px solid rgba(60, 64, 67, 0.3);
	background-color: rgba(60, 64, 67, 0.025);
}

.menu--item .component--holder .menu--container {
    display: flex;
	flex-direction: column;
}

.logo--img {
	padding-top: .5rem;
	width: 5rem;
}

.logo--img img {
	width: auto;
	height: 3rem;
}

.menu--item {
	text-align: center;
	border-radius: .5rem;
	padding: 1rem 2rem;
}

.menu--item a i {
	color: black;
	font-size: 1.2rem;
	font-weight: 700;
}

.menu--item a span {
	color: black;
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: capitalize;
}

.menu--item a:hover span {
	color: tomato;
}

.menu--item .component--holder .menu--container li {
	margin-top: 1px;
	padding: .5rem 2rem;
	border-radius: .3rem;
	border: 1px solid rgba(60, 64, 67, 0.3);
}

.menu--item .component--holder .menu--container li:hover {
	background-color: #ffffff;
}

.menu--item .component--holder .menu--container li a span {
	font-size: 1.2rem;
	font-weight: 400;
}

.menu--item:hover,
.nav--icons:hover {
	background-color: rgba(60, 64, 67, 0.3);
}
/* Not work as expected */
.menu--item a:active {
	background-color: rgba(60, 64, 67, 0.3);
}

.menu--item .component--holder {
	visibility: hidden;
}

.menu--item .component--holder.active {
	visibility: visible;
}

.menu--item .component--holder.inactive {
	visibility: hidden;
}
